button {
    background-color: rgb(36, 199, 134);
    border: none;
    padding: 3px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}


.fa-trash-can { color: rgb(244, 54,54); cursor: pointer;}

.fa-trash-can:hover{ opacity: 0.8;}


span { margin-right: 1rem;}

#tasks {
    margin-top: 1rem;
}